.intro__list {
	padding: 0;
	margin: 33px 0 92px;
	/* margin-top: 33px;
	margin-bottom: 92px; */
	width: 100%;
	max-width: 690px;
	list-style-type: none;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.5;
}

@media screen and (max-width: 991px) {
	.intro__list {
		margin-bottom: 88px;
		max-width: 93.75vw;
	}
}

@media screen and (max-width: 767px) {
	.intro__list {
		margin: 34px auto 64px;
		max-width: 90vw;
	}
}