.intro__list {
	padding: 0;
	margin: 33px 148px 92px;
	width: auto;
	min-width: 690px;
	list-style-type: none;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.5;
}

@media screen and (max-width: 1279px) {
	.intro__list {
		margin-left: 48px;
	}
}

@media screen and (max-width: 991px) {
	.intro__list {
		margin: 33px 24px 88px;
	}
}

@media screen and (max-width: 767px) {
	.intro__list {
		margin: 34px 16px 64px;
		min-width: 288px;
	}
}