.cover__title {
	margin: 0;
	padding: 0;
	z-index: 1;
	font-weight: 900;
	font-size: 72px;
	line-height: 1.06;
	width: 100%;
	max-width: 560px;
	text-align: center;
	text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
	.cover__title {
		font-size: 32px;
		line-height: 1.09;
		max-width: 90vw;
	}
}