.cover__title {
    margin: 0;
    padding: 0;
    z-index: 1;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    z-index: 100;
    width: 100%;
    max-width: 560px;
    text-align: center;
}