.place {
    display: grid;
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    margin-bottom: 80px;
    grid-template-columns: minmax(460px, 1fr) minmax(484px, 1.05fr);
    row-gap: 48px;
    column-gap: 40px;
}

.place:last-of-type {
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: minmax(440px, 1fr) minmax(456px, 1.04fr);
        column-gap: 32px;
    }
}