.place__website {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-self: end;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 479px) {
	.place__website {
		margin: 0 16px;
	}
}