.intro__title {
    margin: 0;
    margin-left: 148px;
    padding: 0;
    margin-top: 92px;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    width: 100%;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro__title {
        margin-left: 48px;
    }
}